
/* 首页 -- 游戏 */
/*
    .G_Banner_Modules
    .G_Banner_Container  
*/

/* banner */
.G_Banner_Modules {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}
.G_Banner_Modules .G_Banner_TmpBox {
    position: absolute;
    top: 0;
}
.G_Banner_Modules .G_Banner_TmpBox img {
    width: 100%;
    vertical-align: middle;
}
.G_Banner_Modules .G_Banner_Container {
    width: 100%;
    float: left;
    -moz-column-gap: 0;
    -webkit-column-gap: 0;
    column-gap: 0;
}
.G_Banner_Modules .G_Banner_Container img {
    width: 100%;
    vertical-align: middle;
}
/* 新游 */
.G_NG_Modules {
    padding: 0 !important;
}
.G_NG_Modules .G_NG_NavLabels {
    width: 50%;
}
.G_NG_Modules .G_NG_Container {
    background: #fff;
    padding-top: 97px;
    z-index: 1;
}
.G_NG_Modules .G_NG_Container .G_NG_YY {
    position : absolute;
    left: 0;
    top: 0;
    z-index: 11;
}
.G_NG_Modules .G_NG_Container .G_NG_YYCG {

}
.G_NG_Modules .G_NG_Container .G_NG_YYOperate {
    position: fixed;
    background: #fff;
    width: 260px;
    left: 50%;
    top: 50%;
    border-radius: 4px;
    z-index: 9999;
    padding: 15px 15px 40px 15px;
    border: 1px solid #ccc;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 14px;
    color: #343434;
    display: none;
}
.G_NG_Modules .G_NG_Container .G_NG_YYOperate .G_NG_YYOperate_Title {
    height: 43px;
    line-height: 43px;
    margin-bottom: 15px;
    position: relative;
    text-align: center;
}
.G_NG_Modules .G_NG_Container .G_NG_YYOperate .G_NG_YYOperate_Phone {
    height: 43px;
    line-height: 43px;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
}
.G_NG_Modules .G_NG_Container .G_NG_YYOperate .G_NG_YYOperate_Phone span {
    display: inline-block;
    width: 43px;
    height: 41px;
    float: left;
}
.G_NG_Modules .G_NG_Container .G_NG_YYOperate .G_NG_YYOperate_Phone input {
    float: left;
    border: none;
    outline: medium;
    background: #f5f5f5;
    width: 182px;
    height : 100%;
    padding: 0 10px;
    text-align : center;
}
.G_NG_Modules .G_NG_Container .G_NG_YYOperate .G_NG_YYOperate_Btn {
    margin: 10px 0 0 0;
    height: 43px;
    line-height: 43px;
}
.G_NG_Modules .G_NG_Container .G_NG_YYOperate .G_NG_YYOperate_Btn div {
    width: 109px;
    border: 1px solid #1ba2e6;
    float: left;
    border-radius: 4px;
    cursor: pointer;
    -moz-box-sizing: border-box;
    height: 43px;
}
.G_NG_Modules .G_NG_Container .G_NG_YYOperate .G_NG_YYOperate_Btn div:first-child {
    margin-right: 10px;
    color: #1ba2e6;
}
.G_NG_Modules .G_NG_Container .G_NG_YYOperate .G_NG_YYOperate_Btn div:last-child {
    color: #fff;
    background: #1ba2e6;
}
.G_NG_Modules .G_NG_Container .G_NG_YYOperate .G_NG_YYOperate_Code {
    margin: 10px 0 0 0;
    height: 43px;
    line-height: 43px;
    display : none;
}
.G_NG_Modules .G_NG_Container .G_NG_YYOperate .G_NG_YYOperate_Code div {
    width: 109px;
    float: left;
    border-radius: 4px;
    height: 43px;
    cursor: pointer;
}
.G_NG_Modules .G_NG_Container .G_NG_YYOperate .G_NG_YYOperate_Code .G_NG_YYOperate_InputCode {
    color: #ccc;
    border: 1px solid #f5f5f5;
    margin-right: 10px;
}
.G_NG_Modules .G_NG_Container .G_NG_YYOperate .G_NG_YYOperate_Code .G_NG_YYOperate_SendCode {
    color: #1ba2e6;
    border: 1px solid #1ba2e6;
}
.G_NG_Modules .G_NG_Container .G_NG_YYOperate .G_NG_YYOperate_Code .G_NG_YYOperate_SendCodeed {
    color: rgb(235, 235, 235);
    border: 1px solid rgb(235, 235, 235);
}
.G_NG_Modules .G_NG_Container .G_NG_YYOperate .G_NG_YYOperate_Code>div input {
    width: 100%;
    height: 100%;
    font-size : 14px;
    border: none;
    float: left;
    text-align: center;
    color: #343434;
}
.G_NG_Modules .G_NG_Container .G_NG_YYOperate .G_NG_YYOperate_Code .G_NG_YYOperate_Code_Btn {
    height: 44px;
    width: 100%;
    background: #1ba2e6;
    color: #fff;
    line-height: 44px;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
}
/* 排行榜 */
.G_GR_Modules {
    background: #fff;
    padding-top: 48px;
    padding-bottom: 0px !important;
    z-index: 1;
}
.G_GR_Modules .G_GR_NavLabels {
    height: 48px;
    width: 100%;
    max-width: 800px;
    background-color: white;
    position: fixed;
    top: 43px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
}

.G_GR_Modules .G_GR_NavLabels .G_GR_LeftBackground {
    width: 113px;
    height: 48px;
    background-image: url('../../../public/images/games/rank/pic_goldbar.svg');
    background-size: cover;
    float: left;
}

.G_GR_Modules .G_GR_NavLabels .G_GR_RightBackground {
    width: 113px;
    height: 48px;
    float: right;
    background-image: url('../../../public/images/games/rank/pic_goldbar.svg');
    background-size: cover;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

.G_GR_Modules .G_GR_NavLabels .G_GR_NL_Container {
    font-size: 14px;
    line-height: 27px;
    border: solid 1px #F6A623;
    /*width: 211px;*/
    width: 142px;
    height: 26px;
    border-radius: 8px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    overflow: hidden;
}

.G_GR_Modules .G_GR_NavLabels .G_GR_NL_Container li {
    display: inline-block;
    width: 69px;
    text-align: center;
    color: #F6A623;
    border-right: solid 1px #F6A623;
    background-color: white;
}

.G_GR_Modules .G_GR_NavLabels .G_GR_NL_Container ul a:first-child li {
    width: 70px;
}

.G_GR_Modules .G_GR_NavLabels .G_GR_NL_Container ul a:last-child li {
    width: 70px;
    border: none;
}

.G_GR_NavLabel_Checked .G_GR_NavLabel_Tag {
    background-color: #F6A623 !important;
    color: white!important;
}

.G_GR_Modules .G_GR_Container {
    position: relative;
}

.G_GR_Modules .G_GR_Container .G_GR_MyRank_Modules {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 800px;
    height: 70px;
    z-index: 11;
}

.G_GR_Modules .G_GR_Container .G_GR_MyRank_Modules .G_RG_MyRank_Bg {
    width: 100%;
    height: 54px;
    background-color: white;
    position: absolute;
    bottom: 0;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.14);
    z-index: 1;
    left: 0;
}

.G_GR_Modules .G_GR_Container .G_GR_MyRank_Modules .G_GR_MyRank_Container {
    width: 100%;
    height: 79px;
    border-bottom: solid 1px #ebebeb;
    overflow: hidden;
    z-index: 99;
    position: relative;
}

.G_GR_Modules .G_GR_Container .G_GR_MyRank_Modules .G_GR_MyRank_Container .G_GR_MyRank_Shadow {
    height: 15px;
    background: url('../../../public/images/games/rank/pic_shadow_myself.svg') no-repeat;
    width: 80px;
    background-size: 320px 15px;
    position: absolute;
}

.G_GR_Modules .G_GR_Container .G_GR_MyRank_Modules .G_GR_MyRank_Container .G_GR_MyRank_ShadowTo {
    opacity: 0.1;
    background-image: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.00) 100%);
    height: 15px;
    width: 100%;
    position: absolute;
    left: 80px;
    top: 0;
}

.G_GR_Modules .G_GR_Container .G_GR_MyRank_Modules .G_GR_MyRank_Container .G_GR_MyRank_ShadowThree {
    width: 62px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 9px;
    top: 0px;
    z-index: 2;
}

.G_GR_Modules .G_GR_Container .G_GR_MyRank_Modules .G_GR_MyRank_Container .G_GR_MyRank_ShadowThree div {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    border: solid 1px rgba(0, 0, 0, 0.14);
}

.G_GR_Modules .G_GR_Container .G_GR_MyRank_Modules .G_GR_MyRank_Container .G_GR_MyRank_Icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    overflow: hidden;
    float: left;
    margin: 6px 15px auto 15px;
    position: relative;
    z-index: 999;
}

.G_GR_Modules .G_GR_Container .G_GR_MyRank_Modules .G_GR_MyRank_Container .G_GR_MyRank_PlayedGames {
    float: left;
    margin-top: 32px;
    max-width: 50%;
    max-height: 48px;
    overflow: hidden;
}

.G_GR_Modules .G_GR_Container .G_GR_MyRank_Modules .G_GR_MyRank_Container .G_GR_MyRank_PlayedGames .G_GR_MyRank_GameIcon {
    width: 20px;
    height: 20px;
    background-size: cover;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 6px;
    float: left;
    display: block;
}

.G_GR_Modules .G_GR_Container .G_GR_MyRank_Modules .G_GR_MyRank_Container .G_GR_MyRank_Rank {
    width: 50px;
    color: #999;
    font-size: 14px;
    height: 34px;
    margin: 32px 15px auto auto;
    float: right;
    background-size: cover;
}


/*分界线*/

.G_Dividing_Line {
    width: 100%;
    margin: 12px 0;
    padding: 0 15px;
    color: #1ba2e6;
    font-size: 14px;
    text-align: center;
}

.G_Dividing_Line div {
    width: 100%;
    height: 1px;
    background: #ccc;
}

.G_Dividing_Line span {
    background: #fff;
    position: absolute;
    margin-top: -10px;
    padding: 0 10px;
    width: 76px;
    left: 50%;
    margin-left: -38px;
}


/* 最近玩过 */

.G_PG_Modules {}

.G_PG_Modules .G_PG_Container {
    width: 100%;
    height: 43px;
    background: #fff;
    margin-top: 8px;
    line-height: 43px;
    padding: 0 15px;
    font-size: 14px;
}

.G_PG_Modules .G_PG_Container .G_PG_GameIcon {
    position: relative;
    float: right;
}

.G_PG_Modules .G_PG_Container li {
    float: left;
    margin-right: 10px;
}

.G_PG_Modules .G_PG_Container img {
    width: 24px;
    height: 24px;
    border-radius: 5px;
}


/* 九宫格游戏列表 */

.G_FG_Modules {}

.G_FG_Modules .G_FG_Container {
    width: 100%;
    position: relative;
    overflow: hidden;
    line-height: 1.8rem;
}

.G_FG_Modules .G_FG_Container ul {
    width: 102%;
    overflow: hidden;
}

.G_FG_Modules .G_FG_Container li {
    width: 33%;
    border-top: #ebebeb 1px solid;
    border-right: #ebebeb 1px solid;
    overflow: hidden;
    padding: 1rem;
    text-align: center;
    border-collapse: separate;
    position: relative;
    float: left;
}

.G_FG_Modules .G_FG_Container li img {
    width: 6rem;
    height: 6rem;
    vertical-align: middle;
    border-radius: 1rem;
    margin-bottom: 7px;
}

.G_FG_Modules .G_FG_Container li span {
    display: inline-block;
}

.G_FG_Modules .G_FG_Container .G_FG_TopTag {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    border-right: 32px solid transparent;
}

.G_FG_Modules .G_FG_Container .G_FG_TopColor_Red {
    border-top: 32px solid #FF7F81;
}

.G_FG_Modules .G_FG_Container .G_FG_TopColor_Green {
    border-top: 32px solid #66cc99;
}

.G_FG_Modules .G_FG_Container .G_FG_TopColor_Yellow {
    border-top: 32px solid #FFAD33;
}

.G_FG_Modules .G_FG_Container .G_FG_TopTag .G_FG_TopTagText {
    position: relative;
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -32px;
    right: -4px;
    font-size: 12px;
}

.G_FG_Modules .G_FG_Container .G_FG_GameName {
    display: inline-block;
    height: 20px;
}

.G_FG_Modules .G_FG_Container .G_FG_Describe {
    font-size: 1rem;
    color: #999;
    height: 20px;
    line-height: 15px;
    display: block;
}

.G_FG_Modules .G_FG_Container .G_FG_Operation {
    width: 5.5rem;
    overflow: hidden;
    height: auto;
    line-height: 2.8rem;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 auto;
}

.G_FG_Modules .G_FG_Container .G_FG_Operation .G_FG_PlayGame {
    width: 5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-right: 5%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    color: #343434;
    text-align: center;
    font-size: 1.2rem;
}

.G_FG_Modules .G_FG_Container .G_FG_MoreGame {
    height: 43px;
    line-height: 43px;
    color: #999;
    text-align: center;
    border-top: 1px solid #ebebeb;
    font-size: 14px;
}

.G_FG_Modules .G_FG_Container .G_FG_MoreGame .G_FG_MoreGameIcon {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    margin-top: 17px;
    margin-bottom: 1px;
    margin-left: 5px;
    float: none;
}


/*精品推荐--全部游戏*/

.G_FG_AG_Modules {
    padding: 0 !important;
}

.G_FG_AG_Modules .G_FG_AG_NavLabels {
    width: 25%;
}


/*论坛*/

.G_Bbs_Modules {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    height: 120px;
    padding-top: 8px;
}

.G_Bbs_Modules .G_Bbs_Container {
    column-gap: 0;
}

.G_Bbs_Modules .G_Bbs_Container .G_Bbs_Slide {
    margin: 0px auto;
    width: 100%;
    background: #fff;
    position: relative;
    padding-bottom: 1rem;
}

.G_Bbs_Modules .G_Bbs_Container .G_Bbs_Slide .G_Bbs_Header {
    height: 43px;
    line-height: 24px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding-left: 10px;
}

.G_Bbs_Modules .G_Bbs_Container .G_Bbs_Slide .G_Bbs_Header .G_Bbs_Tag {
    display: inline-block;
    height: 32px;
    float: left;
    width: 72px;
    background: url('../../../public/images/games/pic_mark_3x.png');
    background-size: 100% 100%;
    line-height: 24px;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.G_Bbs_Modules .G_Bbs_Container .G_Bbs_Slide .G_Bbs_Info {
    padding: 0 1rem;
    height: 77px;
}

.G_Bbs_Modules .G_Bbs_Container .G_Bbs_Slide .G_Bbs_Info .G_Bbs_Title {
    font-size: 16px;
    height: 32px;
    line-height: 32px;
}

.G_Bbs_Modules .G_Bbs_Container .G_Bbs_Slide .G_Bbs_Info .G_Bbs_Slogon {
    display: block;
    max-width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #999;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
}

.G_Bbs_Modules .G_Bbs_Container .G_Bbs_Slide .G_Bbs_Info .G_Bbs_Icon {
    width: 60px;
    height: 60px;
    float: right;
}
.G_SG_Modules {
    background : #fff;
    min-height : 100%;
    padding-bottom : 0px !important;
}
.G_SG_Modules .G_SG_SearchBox {
    position: relative;
    margin-top: 43px;
    background: #fff;
    width: 100%;
    padding: 10px 15px 20px 15px;
    position: fixed;
    top : 0;
    z-index: 2;
    max-width : 800px;
}
.G_SG_Modules .G_SG_SearchBox .G_SG_SearchInput {
    width: 100%;
    height: 32px;
    line-height: 32px;
    display: inline;
    border-radius: 4px;
    color: #343434;
    padding: 0 8px 0 10px;
    background: #f5f5f5;
    border: 1px solid #ebebeb;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.07);
}

.G_SG_Modules .G_SG_SearchBox .G_SG_SearchIcon {
    display: inline;
    width: 24px;
    height: 24px;
    background: url('../../../public/images/games/search/icon_search_3x.png') no-repeat;
    background-size: 100%;
    top: 15px;
    right: 23px;
    position: absolute;
    color: #ccc;
}
.G_SG_Modules .G_SG_Container {
    margin-top : 105px;
}
.G_SG_Modules .G_SG_Container .G_SG_HotSearch {
    margin: 0px auto;
    width: 100%;
    padding-bottom: 0px;
    background: #fff;
    position: relative;
}
.G_SG_Modules .G_SG_Container .G_SG_History {
    margin: 0px auto;
    width: 100%;
    padding-bottom: 0px;
    background: #fff;
    position: relative;
}
.G_SG_Modules .G_SG_Container .G_SG_History .G_SG_Header {
    height: 43px;
    line-height: 43px;
    font-size: 14px;
    padding: 0 15px;
    color: #999;
}
.G_SG_Modules .G_SG_Container .G_SG_History .G_SG_Header .G_SG_Clear {
    float: right;
    color:#999;
}
.G_SG_Modules .G_SG_Container .G_SG_History .G_SG_HistoryView {
    width: 100%;
    padding: 0 15px 20px 15px;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}
.G_SG_Modules .G_SG_Container .G_SG_History .G_SG_HistoryView li {
    float: left;
    margin-right: 15px;
    padding: 0 15px;
    height: 32px;
    line-height: 32px;
    background: #f5f5f5;
    border-radius: 2px;
    margin-top: 15px;
    font-size : 12px;
}
.G_SG_Modules .G_SG_Container .G_SG_GameView {
    overflow: hidden;
}
.G_SG_Modules .G_SG_Container .G_SG_GameView .G_SG_Header {
    border-top: 8px solid #f5f5f5;
    height: 43px;
    line-height: 43px;
    font-size: 14px;
    padding: 0 15px;
    color: #999;
}
.G_SG_Modules .G_SG_Container .G_SG_HotSearch li {
    float: left;
    background: #f5f5f5;
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
    margin: 5px 7px;
    text-align: center;
    padding: 0 15px;
}
/*游戏详情页*/
.G_GameInfo{
    min-height: 100%;background:#fff;padding-bottom: 40px;
}
.G_GameInfo .G_GI_Banner {
    width: 100%;
    height: 350px;
    padding: 0px 15px 15px 15px;
    position: relative;
    overflow: hidden;
    background: url('https://image.egret.com/img1000/2016/12/133021247888.jpg');
    background-repeat: no-repeat;
}

.G_GameInfo .G_GI_Banner .G_GI_Bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: -webkit-linear-gradient( rgba(34, 34, 34, 0) 30%, rgba(34, 34, 34, 0.74) 64%, #222222 88%);
    background: -o-linear-gradient( rgba(34, 34, 34, 0) 30%, rgba(34, 34, 34, 0.74) 64%, #222222 88%);
    background: -moz-linear-gradient( rgba(34, 34, 34, 0) 30%, rgba(34, 34, 34, 0.74) 64%, #222222 88%);
}

.G_GameInfo .G_GI_Banner .G_GI_Back {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 32px;
    height: 43px;
    ;
    border-radius: 50%;
    overflow: hidden;
}

.G_GameInfo .G_GI_Banner .G_GI_Back img {
    width: 100%;
    height: 100%;
}

.G_GameInfo .G_GI_Banner .G_GI_GameName {
    width: 250px;
    height: 60px;
    margin: 0 auto;
    position: absolute;
    bottom: 63px;
    left: 50%;
    margin-left: -95px;
}

.G_GameInfo .G_GI_Banner .G_GI_GameName img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 15px;
}

.G_GameInfo .G_GI_Banner .G_GI_GameName .G_GI_GN {
    height: 28px;
    line-height: 28px;
    display: block;
    color: #ffffff;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
}

.G_GameInfo .G_GI_Banner .G_GI_GameName .G_GI_GT {
    display: inline-block;
    margin-top: 4px;
    height: 16px;
    line-height: 16px;
    color: #ffb61a;
    border: 1px solid #ffb61a;
    border-radius: 4px;
    background: #343434;
    font-size: 10px;
    padding: 0 5px;
}

.G_GameInfo .G_GI_Banner .G_GI_GS_BTN {
    width: 180px;
    margin: 0 auto;
    height: 32px;
    background: #1ba2e6;
    color: #fff;
    position: absolute;
    bottom: 15px;
    text-align: center;
    left: 50%;
    margin-left: -90px;
    font-size: 16px;
    line-height: 32px;
    box-shadow: inset 0px 0px 4px 0px rgba(255, 255, 255, 0.80);
    border-radius: 12px;
}

.G_GameInfo .G_GI_BBS_LINK {
    padding: 0 15px;
    margin-top: 8px;
    background: #fff;
    position: relative;
}

.G_GameInfo .G_GI_BBS_LINK>div {
    height: 43px;
    line-height: 43px;
    font-size: 16px;
    color: #343434;
    border-bottom: 1px solid #ebebeb;
    position: relative;
}

.G_GameInfo .G_GI_BBS_LINK .G_GI_BBS_T {
    color: #999;
    font-size: 12px;
    float: right;
    margin-right: 10px;
    height: 42px;
    max-width: 150px;
}

.G_GameInfo .G_GI_POS {
    position: absolute;
    right: 0;
}

.G_GameInfo .G_GI_BBS_LINK>div img {
    width: 24px;
    height: 24px;
}

.G_GameInfo .G_GI_GP {
    margin: 0px auto;
    width: 100%;
    padding-bottom: 0px;
    background: #fff;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px 15px;
    height: 200px;
}

.G_GameInfo .G_GI_GP>div {
    width: 630px;
}

.G_GameInfo .G_GI_GP img {
    overflow: hidden;
    width: 120px;
    height: 180px;
    float: left;
    margin-right: 6px;
}

.G_GameInfo .G_GI_Text {
    padding: 0 15px;
}

.G_GameInfo .G_GI_Title {
    height: 43px;
    line-height: 43px;
    margin-top: 8px;
}
.G_GI_Modules {
    padding-bottom : 0px !important;
}
.G_GI_Text p {
    overflow: hidden;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.G_GI_Text .G_GI_Status{
    text-align: right;font-size: 16px;color: #ccc;
}

.G_Gift_List_Contend {
    padding-top: 87px;
}

.G_Gift_List_Contend .G_Gift_List {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    line-height: 43px;
    font-size: 14px;
    position: relative;
    background: #fff;
    margin-bottom: 8px;
}

.G_Gift_List_Contend .G_Gift_List .G_GL_Name {
    height: 43px;
    line-height: 43px;
}

.G_Gift_List_Contend .G_Gift_List .G_GL_Name img {
    width: 24px;
    height: 24px;
    border-radius: 5px;
    vertical-align: middle;
}

.G_Gift_List_Contend .G_Gift_List .G_GL_Name span {
    font-size: 16px;
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 50px;
    max-width: 180px;
    height: 43px;
    overflow: hidden;
}

.G_Gift_List_Contend .G_Gift_List .G_GL_Content {
    overflow: hidden;
}

.G_Gift_List_Contend .G_Gift_List .G_GL_Content .G_GL_Title {
    color: #343434;
    display: block;
    /*height: 24px;*/
    overflow: hidden;
    font-size: 12px;
    color: #999;
    float: left;
    line-height: 24px;
    max-width: 100%;
    position: relative;
    padding-right: 80px;
    padding-top: 4px;
    width: 100%;
}

.G_Gift_List_Contend .G_Gift_List .G_GL_Content .G_GL_Title p {
    width: 100%;
}

.G_Gift_List_Contend .G_Gift_List .G_GL_Content .G_GL_Title .G_GL_Get_Gift {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -12px;
    width: 45px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    text-align: center;
    width: 5rem;
    cursor: pointer;
}

.G_Gift_List_Contend .G_Gift_List .G_GL_Content .G_GL_Title .G_GL_Gift_Name {
    font-size: 14px;
    color: #343434;
}

.G_Gift_List_Contend .G_Gift_List .G_GL_Content .G_GL_Surplus {
    font-size: 12px;
    color: #999;
}

.G_Gift_List_Contend .G_Gift_List .G_GL_Content .G_GL_Date {
    display: block;
    width: 100%;
    font-size: 12px;
    color: #999;
    height: 35px;
    line-height: 35px;
}
.G_Gift_Info {
    width: 290px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -96px 0 0 -145px;
    font-size: 14px;
    background-color: #fff;
    border: solid 1px #b0b0b0;
    border-radius: 5px;
    font-family: 微软雅黑;
    color: #000;
    z-index: 9999;
    display: none;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.G_Gift_Info .G_Gift_I_Title {
    text-align: center;
    font-size: 16px;
    height: 43px;
    line-height: 43px;
    position: relative;
    color: #343434;
}

.G_Gift_Info .G_Gift_Close {
    position: relative;
    float: right;
    top: -36px;
    margin-right: 8px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #ccc;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
}

.G_Gift_Info .G_Gift_Use {
    width: 260px;
    margin: 10px auto 0 auto;
    font-size: 14px;
}

.G_Gift_Info .G_Gift_Use .G_Gift_Use_T {
    line-height: 20px;
}

.G_Gift_Info .G_Gift_Use .G_Gift_Code {
    width: 100%;
    height: 43px;
    line-height: 43px;
    margin-top: 10px;
    font-size: 10px;
}

.G_Gift_Info .G_Gift_Use .G_Gift_Code span {
    float: left;
}

.G_Gift_Info .G_Gift_Use .G_Gift_Code .G_Gift_Code_T {
    display: inline-block;
    width: 60%;
    text-align: center;
    overflow: hidden;
    background: #f5f5f5;
}

.G_Gift_Info .G_Gift_Play {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    color: #1ba2e6;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    border: 1px solid #1ba2e6;
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;display: inline-block;
}
.G_PG_Play_Shade {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
.G_PG_Play {
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin: 0px auto;
}
.G_PG_Play .G_PG_Play_Iframe {
    width : 100%;
    height : 100%;
    margin: 0px auto;
    background-color: rgb(0, 0, 0);
    border : 0;
}
/*游戏页面媒体查询*/

@media screen and ( min-width: 319px) {
    .G_GameInfo .G_GI_Banner {
        height: 240px;
    }
    .G_SG_Modules .G_SG_Container .G_SG_GameView .G_SG_HotSearch li {
        width: 45%;
    }
}

@media screen and ( min-width: 359px) {
    .G_SG_Modules .G_SG_Container .G_SG_GameView .G_SG_HotSearch li {
        width: 45%;
    }
}

@media screen and ( min-width: 375px) {
    .G_SG_Modules .G_SG_Container .G_SG_GameView .G_SG_HotSearch li {
        width: 45%;
    }
}

@media screen and ( min-width: 383px) {
    .G_SG_Modules .G_SG_Container .G_SG_GameView .G_SG_HotSearch li {
        width: 47%;
    }
}

@media screen and ( min-width: 414px) {
    .G_SG_Modules .G_SG_Container .G_SG_GameView .G_SG_HotSearch li {
        width: 45%;
    }
}

@media screen and ( min-width: 423px) {}

@media screen and ( min-width: 479px) {}

@media screen and ( min-width: 539px) {}

@media screen and ( min-width: 639px) {}

@media screen and ( min-width: 640px) {
    .G_GameInfo .G_GI_Banner {
        height: 350px;
    }
    .G_SG_Modules .G_SG_Container .G_SG_GameView .G_SG_HotSearch li {
        width: 48%;
    }
}