.D_Navbar_Modules {
    height: 43px;
    line-height: 43px;
    font-size: 14px;
    padding: 0 15px;
    background: #fff;
    position: relative;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.D_Navbar_Modules .D_Navbar_Search {
    position: absolute;
    top: 10px;
    width: 24px;
    height: 24px;
    background: url('../../../public/images/discovery/icon_search.png')no-repeat;
    background-size: 100% 100%;
}

.D_Navbar_Modules .D_Navbar_Tag {
    margin: 0 auto;
}

.D_Navbar_Modules .D_Navbar_Tag a.on {
    color: #1ba2e6;
}

.D_Navbar_Modules .D_Navbar_Tag span {
    margin: 0 20px;
}

.D_Navbar_Modules .D_Navbar_Message {
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 42px;
    background: url('../../../public/images/discovery/icon_msm.png') no-repeat;
    background-size: 100% 100%;
}

.A_Activity {
    min-height: 100%;
    width: 100%;
    padding: 0 8px;
}

.A_Activity .A_Title {
    width: 100%;
    height: 43px;
    text-align: center;
    line-height: 43px;
    font-size: 14px;
    position: fixed;
    background: #fff;
    z-index: 1000;
    max-width: 800px;
    top: 0;left: 0;
    margin: auto;
    right: 0;
}

.A_Activity .A_Outer {
    margin-top: 43px;
}

.A_Activity .A_Outer .A_Contant {
    width: 100%;
}

.A_Activity .A_Outer .A_Contant img {
    width: 100%;
    margin-top: 8px;
    border-radius: 4px;
}

.A_Activity .A_Outer .A_Contant>div {
    background: #fff;
    text-align: center;
    width: 100%;
    text-align: left;
    height: 43px;
    line-height: 43px;
    font-size: 14px;
    color: #343434;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 8px;
}
.A_Activity .A_Outer .A_Contant>span{
    display: block;height: 31px;padding-bottom: 15px;line-height: 16px;font-size: 12px;background:#fff;padding: 0 8px;
}
.A_Activity .A_Outer .A_Contant>span span:first-child{
    float: left;
}
.A_Activity .A_Outer .A_Contant .A_End{
    color: #999;
}
.A_Activity .A_Outer .A_Contant .A_Start{
    color: #ff3f3f;
}
.A_Activity .A_Outer .A_Contant>span span:last-child{
    float: right;color: #999;
}
/*活动详情页面样式*/
.A_Info{
    background: #fff;padding-top:43px;
}
.A_Info .A_Info_Title{
    padding-top: 10px;
    overflow: hidden;
    background: #fff;
    position: relative;
    padding: 0 15px;
}
.A_Info .A_Info_Title .A_U_Icon{
        width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;float: left;
}
.A_Info .A_Info_Title .A_U_Name{
    display: block;
    height: 22px;
    line-height: 22px;float: left;
}
.A_Info .A_Info_Title .A_Activity_Date{
    display: block;width: 100%;height: 28px;line-height: 28px;float: left;margin-top: 10px;
}
.A_Info .A_Info_Title .A_Activity_Date>span:first-child{
    font-size: 10px;color: #999;float: left;
}
.A_Info .A_Info_Title .A_Activity_Date>div{
    font-size: 12px;float: right;
}
.A_Info .A_Info_Body{
    padding: 0 15px;position: relative;
}
.A_Info .A_Info_Body img{
    width: 100%;
}