.M_Main_Modules{padding-bottom:50px}
.M_Main_Modules .M_MainPage{width:100%;height:auto;overflow:hidden;max-width:800px;margin:0 auto;position:relative}
.M_Main_Modules .M_MainPage>img{width:100%;height:100%;position:absolute;z-index:1;-webkit-filter:blur(14px);-moz-filter:blur(14px);-ms-filter:blur(10px);filter:blur(14px)}
.M_Main_Modules .M_MainPage .M_Mask{width:100%;position:absolute;background:#000;opacity:.5;left:0;top:0;z-index:100;height:100%}
.M_Main_Modules .M_MainPage .M_Edit{position:absolute;top:30px;right:20px;color:#fff;z-index:1000;font-size:10px}
.M_Main_Modules .M_MainPage .M_Edit span{width:24px;height:24px;background:url(../../../public/images/mine/btn_edit_3x.png) no-repeat;background-size:100% 100%;display:inline-block;position:relative;z-index:999}
.M_Main_Modules .M_MainPage .M_UserInfo{width:100%;padding:0 15px;margin-top:20px;margin-bottom:20px;position:relative;top:0;left:0;z-index:999}
.M_Main_Modules .M_MainPage .M_UserInfo>span{display:block;width:60px;height:60px;border-radius:50%;position:relative;margin:0 auto}
.M_Main_Modules .M_MainPage .M_UserInfo>div{width:100%;display:inline-block;position:relative;left:0}
.M_Main_Modules .M_MainPage .M_UserInfo .M_UserIcon{width:60px;height:60px;position:relative;border-radius:50%;overflow:hidden}
.M_Main_Modules .M_MainPage .M_UserInfo .M_UserIcon>img{position:absolute;width:100%;height:100%;display:block}
.M_Main_Modules .M_MainPage .M_UserInfo .M_UserSex{position:absolute;width:60px;height:60px;left:50%;top:50%;margin-top:-30px;margin-left:-30px}
.M_Main_Modules .M_MainPage .M_UserInfo .M_UserSex img{width:18px;height:18px;position:absolute;right:0;bottom:0}
.M_Main_Modules .M_MainPage .M_UserIcon>div{width:100%;display:inline-block;position:relative;left:0}
.M_Main_Modules .M_MainPage .M_UserInfo .M_UserName{display:block;height:36px;line-height:36px;font-size:14px;color:#fff;text-align:center}
.M_Main_Modules .M_MainPage .M_UserInfo .M_UserID{height:20px;line-height:20px;text-align:center;color:#fff;font-size: 12px;}
.M_Main_Modules .M_MainPage .M_UserInfo .M_UserID span{
    margin: 0 5px;
}
.M_Main_Modules .M_MainPage .M_UserInfo .M_UserVip{display:inline-block;width:50px;height:20px}
.M_Main_Modules .M_MainPage .M_UserInfo .M_UserVip img{width:100%;height:100%}
.M_Main_Modules .M_MainPage .M_Fans{position:relative;width:100%;display:block;z-index:100;height:41px;text-align:center}
.M_Main_Modules .M_MainPage .M_Fans div{width:20%;height:20px;margin-top:6px;display:inline-block;position:relative;margin-bottom:15px;text-align:center}
.M_Main_Modules .M_MainPage .M_Fans div span{height:20px;line-height:20px;text-align:center;opacity:.8;color:#fff;font-size:12px;padding-left:5px}
.M_Main_Modules .M_MyLink{height:100px;margin-top:8px;background:#fff;padding:15px;font-size:12px}
.M_Main_Modules .M_MyLink .M_Sgin{background:url(../../../public/images/mine/btn_qd_y_un_3x.png)}
.M_Main_Modules .M_MyLink .M_Sgin_Suc{background:url(../../../public/images/mine/btn_qd_y_3x.png)}
.M_Main_Modules .M_MyLink .M_Gift{background:url(../../../public/images/mine/btn_lb_y_3x.png)}
.M_Main_Modules .M_MyLink .M_Point{background:url(../../../public/images/mine/btn_jfdh_y_3x.png)}
.M_Main_Modules .M_MyLink .M_Safety{background:url(../../../public/images/mine/btn_zhaq_y_3x.png)}
.M_Main_Modules .M_MyLink .M_My_Link_Mod{width:33.3%;height:100%;cursor:pointer;float:left;line-height:110px;text-align:center;background-repeat:no-repeat;background-size:42px 42px;background-position:center top}
.M_Main_Modules .M_My_Played{background:#fff;margin:8px 0}
.M_Main_Modules .M_My_Played .M_My_P_Title{height:43px;line-height:43px;font-size:14px;margin:0 15px;position:relative}
.M_Main_Modules .M_My_Played .M_My_P_Game{margin-top:8px;padding:0 15px;text-align:center;height:89px;overflow:hidden}
.M_Main_Modules .M_My_Played .M_My_P_Game .M_My_Game_Icon{float:left;width:33.3%}
.M_Main_Modules .M_My_Played .M_My_P_Game .M_My_Game_Icon img{width:60px;height:60px;border-radius:4px}
.M_Main_Modules .M_My_Played .M_My_P_Game .M_My_Game_Icon span{display:block;height:28px;line-height:28px;text-align:center;color:#343434;font-size:12px;margin-bottom:11px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding:0 10px}
.M_Main_Modules .M_My_Modula{width:100%;background:#fff}
.M_Main_Modules .M_My_Modula>div{position:relative;border-bottom:1px solid #f5f5f5;height:43px;line-height:43px;margin:0 15px;text-align:left;background:#fff}
.M_Main_Modules .M_SwithAccount{height:43px;line-height:43px;background:#fff;text-align:center;color:#ff5757;width: 49%;float: right;}
.M_Main_Modules .M_Feedback{
    width: 45%;
    text-align: center;
    line-height: 43px;
    background: #fff;
    height:43px;line-height:43px;background:#fff;text-align:center;color:#343434;width: 49%;float: left;
}
.M_Main_Modules .M_Sign{
    position: fixed;width:100%;height:100%;background-color:rgba(0,0,0,0.8);z-index: 9999;top:0;left: 0;display: none;
}
.M_Main_Modules .M_Sign .M_Sign_Info{
    width: 100%;
    position: absolute;
    height: 156px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;z-index: 9;
}
.M_Main_Modules .M_Sign .M_Sign_Info .M_Sign_Success{
  height: 120px;
    width: 120px;
    background: url('../../../public/images/mine/icon_sign.png') no-repeat;
    background-size: 100%;
    position: relative;
    z-index: 1000;
    margin: 0 auto;
}
.M_Main_Modules .M_Sign .M_Sign_Info .M_Sign_Text{
    width: 100%;
    height: 40px;
    text-align: center;
    position: relative;
    z-index: 1000;
    color: #ffffff;
}
.M_Main_Modules .M_Sign .M_Sign_Info .M_Sign_Text>span{
    display: block;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    z-index: 1000;
    position: relative;
}
.M_Main_Modules .M_Sign .M_Sign_Info .M_Sign_Text>p{
    font-size: 12px;height: 20px;line-height: 20px;color: #fff;
}
.M_Main_Modules .M_Sign .M_Sign_Info .M_Sign_Text div{
    display: inline-block;color: #1ba2e6;cursor: pointer;
}
.M_Main_Modules .M_Sign .M_Sign_Info .M_Sign_Close{
    width: 24px;
    height: 24px;
    position: absolute;
    left: 50%;
    bottom: -60px;
    margin-left: -12px;
    background: url('../../../public/images/mine/btn_close@3x.png') no-repeat;
    background-size: 100%;
    z-index: 1000;cursor: pointer;
}
.M_Main_Modules .M_Sign .M_Sign_Rule{
    width: 100%;height: 100%;background: #fff;position: absolute;z-index: 10;top: 0;left: 0;display: none;overflow: auto;
}
.M_Main_Modules .M_Sign .M_Sign_Rule .M_Sign_Rule_Title{
    position: fixed;top: 0;left: 0;width: 100%;height: 43px;text-align: center;line-height: 43px;background: #fff;
}
.M_Main_Modules .M_Sign .M_Sign_Rule .M_Sign_Rule_Title img{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 11px;
    left: 10px;
}
.M_Main_Modules .M_Sign .M_Sign_Rule .M_Sign_Rule_Contant{
    padding:43px 15px 15px 15px; 
}
.M_Main_Modules .M_Sign .M_Sign_Rule .M_Sign_Rule_Contant .M_Sign_Title{
    font-size: 1.4rem;
    color: blue;
    margin: 1rem 0;
}
.M_Gift_List_Contend {
    padding-top: 50px !important;
}
/*账户安全*/
.M_Main_Safly{
    width: 100%;height: auto;position: relative;font-size: 14px;color: #fff;text-align: center;
}
.M_Main_Safly .M_Main_Safly_Box{
    width: 100%;position: relative;
}
.M_Main_Safly .M_Main_Safly_Box img{
    width: 100%;
}
.M_Main_Safly .M_Main_Safly_Box .M_Main_Safly_Title{
    height: 43px;line-height: 43px;position: absolute;top: 0;left: 0;width: 100%;background-color: rgba(0,0,0,0.5);text-align: center;
}
.M_Main_Safly .M_Main_Safly_Box .M_Main_Safly_Title img{
     height: 24px;
    width: 24px;
    position: absolute;
    vertical-align: middle;
    float: left;
    top: 9px;
    left: 8px;
}
.M_Main_Safly .M_Main_Safly_Box>span{
    width: 100%;line-height: 20px;position: absolute;bottom: 15px;left: 0;display: block;
}
.M_Main_Safly .M_Main_Safly_Code{

}
.M_Main_Safly .M_Main_Safly_Code div{
    position: relative;
}
.M_Main_Safly .M_Main_Safly_Code div>input{
    border: none;
    border-bottom: 1px solid #ebebeb;
    height: 43px;
    width: 100%;
    padding-left: 7px;
}
.M_Main_Safly .M_Main_Safly_Code .M_Main_Safly_GetCode{
    position: absolute;
    right: 15px;
    top: 9px;
    color: #1ba2e6;
    cursor: pointer;
}

.M_Main_Safly .M_Main_Safly_Code .M_Main_Safly_Phone{
    height: 43px;line-height: 43px;padding-left: 7px;text-align: left;color: #343434;display: none;background: #fff;
}
.M_Main_Safly_Sub{
    width: 100%;margin-top: 60px;
}
.M_Main_Safly_Sub div{
    width: 180px;
    border: 1px solid #2cc75f;
    text-align: center;
    height: 32px;
    line-height: 32px;
    color: #2cc75f;
    margin: 0 auto;
    border-radius: 4px;
}
/*问题反馈*/
.M_Main_Problem {
    padding-top: 43px;
    padding-bottom : 0px !important;
}
.M_Main_Problem_QQ {
    padding: 0 15px;
    height: 43px;
    line-height: 43px;
    background: #f5f5f5;
    color: #999;
    font-size: 14px;
}

.M_Main_Problem_QQ img {
    margin-left: 20px;
}

.M_Main_Problem .M_Main_Prob_Type {
    padding: 0 15px;
    background: #fff;
    overflow: hidden;text-align: center;
}

.M_Main_Problem .M_Main_Prob_Type .M_Main_Prob_Title {
    height: 43px;text-align: left;
    line-height: 43px;
    }
.M_Main_Problem .M_Main_Prob_Type>label {
    width: 50%;
    float: left;
    text-align: left;
    line-height: 36px;
}

.M_Main_Problem .M_Main_Prob_Type>textarea {
    width: 100%;
    margin-top: 8px;
    min-height: 100px;
    background: #f5f5f5;border: 1px solid #ccc;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.M_Main_Problem .M_Main_Prob_Type>input{
    margin-top: 8px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.M_Main_Problem .M_Main_Prob_Type .M_Main_Prob_Sub{
    width: 180px;
    height: 32px;
    line-height: 32px;
    background: #fff;
    color: #1ba2e6;
    border: 1px solid #1ba2e6;
    border-radius: 4px;
    margin: 30px auto;
}
.M_Main_Problem .M_Main_Prob_Type>img{
    width: 240px;height: 240px;;
}
/*玩过的游戏*/
.M_Main_Played{
    padding-top: 43px;
    padding-bottom : 0px !important;
}
.M_Main_Played .M_Main_All{
    color: #8d8d8d;height: 43px;line-height: 43px;font-size: 12px;padding: 0 15px;
}
.M_Main_Played .M_Main_All span{
    font-size: 14px;color: #1ba2e6;
}
.M_Main_Played .M_Main_Played_Mod{
    width: 100%;
    height: 80px;
    position: relative;
    border-bottom: 1px solid #ebebeb;
    padding-left: 60px;background: #fff;padding:0 15px;
}
.M_Main_Played .M_Main_Played_Mod>img{
    width: 50px;
    height: 50px;
    border-radius: 4px;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 100;
}
.M_Main_Played .M_Main_Played_Mod>div{
    width: 100%;
    height: 80px;
    position: relative;
    border-bottom: 1px solid #ebebeb;
    padding-left: 60px;
    padding-top: 15px;
}
.M_Main_Played .M_Main_Played_Mod>div span{
    display: block;
    height: 24px;
    line-height: 24px;
    width: 50%;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.M_Main_Played .M_Main_Played_Mod>div div{
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    color: #8d8d8d;
}
.M_Main_Played .M_Main_Play_In{
    width: 60px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #1ba2e6;
    color: #1ba2e6;
    position: absolute;
    right: 15px;
    top: 24px;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
}